body{
    background-color: black;
}


.section1 {
    background-image: url(image/keyart.jpg);
    background-size: cover;
    border-bottom: solid 4px black ;
    padding-bottom: -30%;
    background-repeat: no-repeat;
}

.section2 {
    background-image: url(image/bg-news-dofus-mag.jpg);
    /* padding-bottom: 1%; */
    border-bottom: 4px solid #000;
    background-size: cover;
  }


.nav2 {
    
    border-top: solid 3px #8fa92d ;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    height: 60px;
    padding-left: 8%;
}

.nav2 a{
    color: white;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}

.imagelogo {
    height: 100px;
    margin-bottom: 1%;
}

.nav1 {
    color: white;
    background-color: black;
    font-size: x-small;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.nav1 a{
    text-decoration: none;

}
.logofrance {
    height: 19px;
}

.avatar {
    height: 27px;
    width: 27px;
}

.connexion {
    color: rgb(167, 163, 163);
}

.support {
    color: white;
}

.logoankama {
    color: white;
}

.ankamasupport {
    display: flex;
    align-items: center;
    gap: 20%;
}
.connexiondrapeau{
    display: flex;
    align-items: center;
    gap: 5%;
}

.imageblanc{
    background-image: url(image/bg-content-keyart.png);
    height: 600px;
    top: 14%;
    background-repeat: no-repeat;
    margin-left: 40%;
    background-size: 38%;
    
}
.imagefoire{
    left: 43%;
    position: absolute;
    height: 320px;
    top: 14%;
}

.section3{
    background-image: url(image/bg2.jpg);
    background-size: cover;
    padding-bottom: 24%;
    border-bottom: 4px solid #000;

}

.logomag{
    height: 100px;
    display: flex;
    justify-content: center;
}

.section4{
    background-image: url(image/bg3.jpg);
    background-size: cover;
    border-bottom: solid 4px black ;
    padding-bottom: 5%;
    
}

.gladiatrool{
    background: url(image/bg-title-block3.png) top center no-repeat transparent;
    height: 100px;
    width: 600px;
    text-align: center;
    
}
.section5{
    background-image: url(image/bg-shop.jpg);
    border-bottom: solid 4px black ;
    padding-bottom: 17%;
    background-repeat: no-repeat;
}